<%= form_with(model: text_taunt, local: true) do |form| %>
  <% if text_taunt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(text_taunt.errors.count, "error") %> prohibited this text_taunt from being saved:</h2>

      <ul>
      <% text_taunt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
