<div>
  <ul>
    <li>
      <%= link_to "Taunts", :available_taunts %>
    </li>
    <li>
      <%= link_to "Challenges", :challenges %>
    </li>
    <li>
      <%= link_to "Given Taunts", :given_taunts %>
    </li>
    <li>
      <%= link_to "Profiles", :profiles %>
    </li>
    <li>
      <%= link_to "Records", :records %>
    </li>
    <li>
      <%= link_to "Text Taunts", :text_taunts %>
    </li>
    <li>
      <%= link_to "Wagers", :wagers %>
    </li>
  </ul>
</div>
